Source: deepin-wayland-protocols
Section: libdevel
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Aurélien COUDERC <coucouf@debian.org>,
           Pino Toscano <pino@debian.org>,
Build-Depends: cmake (>= 3.5~),
               debhelper-compat (= 12),
               extra-cmake-modules (>= 5.69.0~),
               qtbase5-dev,
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://invent.kde.org/libraries/deepin-wayland-protocols
Vcs-Browser: https://salsa.debian.org/qt-kde-team/kde/deepin-wayland-protocols
Vcs-Git: https://salsa.debian.org/qt-kde-team/kde/deepin-wayland-protocols.git

Package: deepin-wayland-protocols
Architecture: any
Depends: ${misc:Depends}
Description: Wayland protocols for deepin
 This package contains protocols for Wayland that are not standard, and used
 in KDE deepin.
